<div class="page-header">
  <div class="header-content">
    <h1 class="page-title">Dashboard</h1>
    <p class="page-subtitle">Visão geral do acervo</p>
  </div>
</div>

<p-toast position="top-center"></p-toast>

<div class="cartoes-grid">
  <div class="cartao-item">
    <div class="cartao-icon-wrapper icon-total">
      <i class="pi pi-book"></i>
    </div>
    <div class="cartao-info">
      @if (dadosDashboard) {
        <span class="cartao-valor">{{ dadosDashboard.totalLivros }}</span>
      } @else if (carregando) {
        <p-skeleton></p-skeleton>
      }
      <span class="cartao-titulo">Total de Livros</span>
    </div>
  </div>

  <div class="cartao-item">
    <div class="cartao-icon-wrapper icon-disponivel">
      <i class="pi pi-check-circle"></i>
    </div>
    <div class="cartao-info">
      @if (dadosDashboard) {
        <span class="cartao-valor">{{ dadosDashboard.livrosDisponiveis }}</span>
      } @else if (carregando) {
        <p-skeleton></p-skeleton>
      }
      <span class="cartao-titulo">Disponíveis</span>
    </div>
  </div>

  <div class="cartao-item">
    <div class="cartao-icon-wrapper icon-emprestado">
      <i class="pi pi-bookmark"></i>
    </div>
    <div class="cartao-info">
      @if (dadosDashboard) {
        <span class="cartao-valor">{{ dadosDashboard.livrosEmprestados }}</span>
      } @else if (carregando) {
        <p-skeleton></p-skeleton>
      }
      <span class="cartao-titulo">Emprestados</span>
    </div>
  </div>

  <div class="cartao-item">
    <div class="cartao-icon-wrapper icon-ativo">
      <i class="pi pi-clock"></i>
    </div>
    <div class="cartao-info">
      @if (dadosDashboard) {
        <span class="cartao-valor">{{ dadosDashboard.emprestimosAtivos }}</span>
      } @else if (carregando) {
        <p-skeleton></p-skeleton>
      }
      <span class="cartao-titulo">Ativos</span>
    </div>
  </div>
</div>

<div class="table-container">
  <div class="emprestimos-header">
    <h2>Últimos empréstimos</h2>
    <p-button label="Ver todos" icon="pi pi-arrow-right" iconPos="right" variant="text"
              (onClick)="verTodosEmprestimos()"></p-button>
  </div>
  @if (carregando) {
    <p-table [value]="[1, 2, 3, 4, 5]">
      <ng-template #header>
        <tr>
          <th>Livro</th>
          <th>Pessoa</th>
          <th>Data Empréstimo</th>
          <th>Data Prevista</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template #body>
        <tr>
          <td><p-skeleton></p-skeleton></td>
          <td><p-skeleton></p-skeleton></td>
          <td><p-skeleton></p-skeleton></td>
          <td><p-skeleton></p-skeleton></td>
          <td><p-skeleton></p-skeleton></td>
        </tr>
      </ng-template>
    </p-table>
  } @else if(dadosDashboard) {
    <p-table [value]="dadosDashboard!.emprestimosRecentes">
      <ng-template #header>
        <tr>
          <th>Livro</th>
          <th>Pessoa</th>
          <th>Data Empréstimo</th>
          <th>Data Prevista</th>
          <th>Status</th>
        </tr>
      </ng-template>

      <ng-template #body let-emprestimo>
        <tr>
          <td><strong>{{ emprestimo.livroTitulo }}</strong></td>
          <td>{{ emprestimo.pessoaNome }}</td>
          <td>{{ emprestimo.dataEmprestimo | date:'dd/MM/yyyy' }}</td>
          <td>{{ emprestimo.dataPrevista | date:'dd/MM/yyyy' }}</td>
          <td>
            <p-tag [value]="emprestimo.status" [severity]="getSeverityTag(emprestimo.status)"></p-tag>
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="5">
            <div class="empty-state" >
              <i class="pi pi-folder-open empty-icon"></i>
              <p class="empty-text">Nenhum empréstimo feito</p>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }

</div>
