.cartoes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.cartao-item {
  background: var(--p-content-background);
  border: 1px solid var(--p-content-border-color);
  border-radius: 12px;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
}

/*.cartao-icon-wrapper {*/
/*  width: 64px;*/
/*  height: 64px;*/
/*  border-radius: 16px;*/
/*  display: grid;*/
/*  place-items: center;*/
/*  margin-bottom: 1rem*/
/*}*/

.cartao-icon-wrapper i {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.icon-total {
  /*background-color: rgba(59, 130, 246, 0.15);*/
  color: #3b82f6;
}

.icon-disponivel {
  /*background-color: rgba(34, 197, 94, 0.15);*/
  color: #22c55e;
}

.icon-emprestado {
  /*background-color: rgba(245, 158, 11, 0.15);*/
  color: #f59e0b;
}

.icon-ativo {
  /*background-color: rgba(var(--p-primary-color-rgb, 234, 108, 134), 0.15);*/
  color: var(--p-primary-color);
}

.cartao-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.cartao-titulo {
  font-size: 0.98rem;
  color: var(--p-text-muted-color);
  font-weight: 500;
  letter-spacing: 0.5px;
}

.cartao-valor {
  font-size: 2.75rem;
  font-weight: 700;
  color: var(--p-text-color);
  line-height: 1.1;
  margin-bottom: 0.25rem;
}

.emprestimos-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  align-items: center;
  border-bottom: 1px solid var(--p-content-border-color);
}

.emprestimos-header h2 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--p-text-color);
}

::ng-deep .table-container .p-datatable-header,
::ng-deep .table-container .p-datatable-thead > tr > th {
  background: var(--p-datatable-row-striped-background);
}
