<div class="page-header">
  <div class="header-content">
    <h1 class="page-title">Livros</h1>
    <p class="page-subtitle">{{ livros.length }} livros no acervo</p>
  </div>
  <div class="header-actions">
    <p-button label="Adicionar Livro" icon="pi pi-plus" (onClick)="abrirDialogo()"></p-button>
  </div>
</div>

@if (livros.length !== 0 || filtroLivros.trim() !== '') {
  <div class="search-bar">
    <p-iconfield>
      <p-inputicon class="pi pi-search"></p-inputicon>
      <input pInputText type="text" [(ngModel)]="filtroLivros" placeholder="Pesquisar por título ou autor"
             class="search-input"
             (input)="filtrarLivros()">
    </p-iconfield>
  </div>
}

@if (livros.length === 0 && filtroLivros.trim() !== '' ) {
  <div class="livros-empty-state">
    <i class="pi pi-book livros-empty-icon"></i>
    <p class="livros-empty-text">Nenhum livro encontrado para "<strong>{{ filtroLivros }}</strong>"</p>
  </div>

} @else {
  <div class="livros-grid">
    @for (livro of livros; track livro.id) {
      <div class="livro-card">
        <div class="livro-card-header">
          <p-tag [value]="livro.categoriaNome" [icon]="'pi pi-tag'" class="categoria-livro-tag"></p-tag>
          <p-tag [value]="statusLabels[livro.status]" [severity]="livro.status === 'DISPONIVEL' ? 'success': 'warn' "
                 class="status-livro-tag"></p-tag>
        </div>

        <div class="livro-card-body">
          <div class="livro-card-image">
            <i class="pi pi-book"></i>
          </div>
          <div class="livro-card-content">
            <h3 class="livro-titulo">{{ livro.titulo }}</h3>
            <p class="livro-autor">{{ livro.autor }}</p>
            <span class="meta">ISBN {{ livro.isbn }} &bull; {{ livro.anoPublicacao }}</span>
          </div>
        </div>
        <div class="livro-card-footer">
          <p-button label="Ver Detalhes" styleClass="p-button-outlined p-button-secondary w-full"></p-button>
          <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text"
                    pTooltip="Excluir livro" [disabled]="livro.status === 'EMPRESTADO'"
                    (onClick)="deletarLivro(livro.id)">
          </p-button>
        </div>
      </div>
    }
  </div>
}

<p-dialog header="Adicionar Livro" [modal]="true" [(visible)]="dialogoVisivel" (onHide)="fecharDialogo()"
          styleClass="dialog-cadastro">
  @if (livroCriado) {
    <form #criarLivroForm="ngForm" (ngSubmit)="salvarLivro()" class="form-container">
      <div class="form-group">
        <label for="titulo" class="form-label">Título*</label>
        <input type="text" id="titulo" name="titulo" pInputText [(ngModel)]="livroCriado.titulo"
               required maxlength="255" #tituloVar="ngModel"
               [ngClass]="{'ng-invalid ng-dirty': (tituloVar.invalid && (tituloVar.dirty || tituloVar.touched)) || erroBackend}">
        @if (tituloVar.invalid && (tituloVar.dirty || tituloVar.touched)) {
          <small class="error-message">O título é obrigatório.</small>
        }
      </div>

      <div class="form-row-grid">
        <div class="form-group">
          <label for="autor" class="form-label">Autor*</label>
          <input type="text" id="autor" name="autor" pInputText [(ngModel)]="livroCriado.autor"
                 required minlength="2" maxlength="100" #autorVar="ngModel"
                 [ngClass]="{'ng-invalid ng-dirty': (autorVar.invalid && (autorVar.dirty || autorVar.touched))}">
          @if (autorVar.invalid && autorVar.touched) {
            <small class="error-message">O autor é obrigatório (mínimo 2 caracteres).</small>
          }
        </div>


        <div class="form-group">
          <label for="isbn" class="form-label">ISBN*</label>
          <input type="text" id="isbn" name="isbn" pInputText [(ngModel)]="livroCriado.isbn"
                 (input)="formatarISBN($event)" required pattern="^[0-9\-]{13,17}$" #isbnVar="ngModel"
                 placeholder="978-8-53590-277-5" maxlength="17"
                 [ngClass]="{'ng-invalid ng-dirty': (isbnVar.invalid && (isbnVar.dirty || isbnVar.touched))}">
          @if (isbnVar.invalid && isbnVar.touched) {
            <small class="error-message">O ISBN deve conter apenas números com 10 ou 13 dígitos.</small>
          }
        </div>
      </div>

      <div class="form-row-grid">
        <div class="form-group">
          <label for="anoPublicacao" class="form-label">Ano de Publicação*</label>
          <p-inputNumber id="anoPublicacao" name="anoPublicacao" [(ngModel)]="livroCriado.anoPublicacao"
                         [useGrouping]="false" [max]="anoAtual" required #anoVar="ngModel"
                         [ngClass]="{'ng-invalid ng-dirty': (anoVar.invalid && (anoVar.dirty || anoVar.touched))}">
          </p-inputNumber>
          @if (anoVar.invalid && (anoVar.dirty || anoVar.touched)) {
            <small class="error-message">O ano é obrigatório</small>
          }
        </div>

        <div class="form-group">
          <label for="categoriaId" class="form-label">Categoria*</label>
          <p-select id="categoriaId" name="categoriaId" [options]="categorias"
                    [(ngModel)]="livroCriado.categoriaId" optionLabel="nome" optionValue="id"
                    placeholder="Selecione" [required]="true" #catVar="ngModel" appendTo="body"
                    [ngClass]="{'ng-invalid ng-dirty': (catVar.invalid && (catVar.dirty || catVar.touched))}">
          </p-select>
          @if (catVar.invalid && (catVar.dirty || catVar.touched)) {
            <small class="error-message">Selecione uma categoria.</small>
          }
        </div>
      </div>

      @if (erroBackend) {
        <small class="error-message server-error">{{ erroBackend }}</small>
      }

      <div class="form-actions">
        <p-button label="Cancelar" severity="secondary" type="button" (onClick)="fecharDialogo()"></p-button>
        <p-button label="Salvar" type="submit" [disabled]="criarLivroForm.invalid"></p-button>
      </div>
    </form>
  }
</p-dialog>
