@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "primeicons/primeicons.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  font-family: 'Outfit', sans-serif;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--p-content-border-color);
}

.header-content {
  border-left: 4px solid var(--p-primary-color);
  padding-left: 1rem;
}

.page-title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--p-text-color);
}

.page-subtitle {
  margin: 0.25rem 0 0 0;
  font-size: 0.95rem;
  color: var(--p-text-muted-color); /* Cor mais neutra/acinzentada */
}

/*tabela*/
.table-container {
  background: var(--p-content-background);
  border: 1px solid var(--p-content-border-color);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
}

::ng-deep .p-datatable .p-datatable-header,
::ng-deep .p-datatable .p-datatable-thead > tr > th {
  border-bottom: 1px solid var(--p-content-border-color);
}

/* Dialog e Form */
::ng-deep .dialog-cadastro {
  width: 40rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.form-row-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.form-label {
  font-weight: 600;
  color: var(--p-text-color);
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.error-message {
  color: var(--p-red-500);
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.server-error {
  margin-bottom: 1rem;
  font-weight: 500;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1rem;
}

.pi.empty-icon {
  font-size: 3rem;
  color: var(--p-text-muted-color);
  margin-bottom: 1rem;
  opacity: 0.5;
}

.empty-text {
  color: var(--p-text-muted-color);
  margin: 0 0 1.5rem 0;
  font-size: 1.3rem;
}

/* Misc */
::ng-deep .p-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
